<div class="">
    <div class="row py-3 align-items-center">
        <div class="col-12 col-md-6">
            <div class="container">
                <div class="row text-center">
                    <div class="col-3 h2 box-square bg-dark-red text-white p-0 mb-0 py-1">Buy</div>
                    <div class="col-6 h2 box-square bg-gray text-white mb-0 py-1">Price</div>
                    <div class="col-3 h2 box-square bg-dark-green text-white mb-0 py-1">Sell</div>
                </div>
                <div class="row text-center" *ngFor="let order of bidsList | slice:0:5">
                    <div class="col-3 h2 box-square-cool-red bg-red mb-0 py-1"></div>
                    <div class="col-6 h2 box-square mb-0 py-1">{{order[0]}}</div>
                    <div class="col-3 h2 box-square-cool-green bg-green mb-0 py-1">{{order[1]}}</div>
                </div>
                <div class="row text-center" *ngFor="let order of asksList | slice:0:5">
                    <div class="col-3 h2 box-square-cool-red bg-red mb-0 py-1">{{order[1]}}</div>
                    <div class="col-6 h2 box-square mb-0 py-1">{{order[0]}}</div>
                    <div class="col-3 h2 box-square-cool-green bg-green mb-0 py-1"></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-5 mt-md-0">
            <div class="container">
                <div class="card border-gold border-5 mb-3 h-100">
                    <div class="h1 card-header box-square-cool-dark-gold border-gold border-3 text-center mb-2">Order</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="col-12">
                                <label class="w-100 cursor-pointer">
                                    <div class="row text-center">
                                        <div class="h2 col-6 box-square py-2 on-hover-light user-select-none">Price</div>
                                        <div class="h2 col-6 box-square px-0"><input type="text" id="Price" class="form-control text-center h-100 fs-5" [(ngModel)]="price"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="w-100 cursor-pointer">
                                    <div class="row text-center">
                                        <div class="h2 col-6 box-square py-2 on-hover-light user-select-none">Amount</div>
                                        <div class="h2 col-6 box-square px-0"><input type="text" id="Amount" class="form-control text-center h-100 fs-5" [ngModel]="amount"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-12">
                                <div class="row text-center">
                                    <div class="col-6 box-square user-select-none px-0" (click)="changeMode(0)">
                                        <div class="form-control h-100 on-hover-light" [ngClass]="{'box-square-cool-green': mode == 0}"><span class="h2 text-dark-green">Sell</span></div>
                                    </div>
                                    <div class="col-6 box-square user-select-none px-0" (click)="changeMode(1)">
                                        <div class="form-control h-100 on-hover-light" [ngClass]="{'box-square-cool-red': mode == 1}"><span class="h2 text-red">Buy</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h2 card-footer bg-transparent border-gold border-3 box-square-cool-gold text-center user-select-none on-hover-light mt-5" (click)="submit()">Submit</div>
                </div>
            </div>
        </div>
    </div>
</div>